
.text-parrafo{
  text-align: justify;
  line-height: 1.8rem;
}
li>a{
  font-size: 1.1rem;
}
/* seccion eventos noticias */
.f-evento{
  box-sizing: border-box;
  background-size: cover;
  background-image: url(./images/event/fondo-event.jpg);
  background-repeat: no-repeat;
  height: 25rem;
}
/* fin seccion eventos noticias */
.separador {
  width: 10%;
  display: inline-block;
}
/* seccion nuestra historia */
.fotodir{
  height: 16.5rem;
  object-fit: contain;
}
/* fin seccion nuestra historia */
.colorwtitle{
  color: white;
}

/*pagina noticias*/

.articles{
  margin-top: 20px;
  margin-bottom: 20px;
}
.article{
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}
.article>span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.img-article{
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.article-body{
  padding: 20px;
}
.article-body>p{
  font-size: 1.7rem;
  text-align: justify;
}
.title-article{
  margin-top: 0;
  font-family: 'Poppins';
}
.aside{
  padding: 20px;
}

.nav>li>a{
  color:#2c2c2c;
  font-size: medium;
}